html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    position: relative;
    min-height: 1550px;
}

.options-box {
    background: #000;
    height: 100%;
    line-height: 30px;
    padding: 0;
    text-align: left;
    width: 25%;
}

.map-box{
    height: 100%;
    float: right;
}

input {
    font-size: 12px;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin: 0px 0 10px 0;
    padding-top: 10px;
    text-align: center;
    font-weight: 600;
}


h2 {
    color: #000;
    font-size: 24px;
    margin: 0px 0 10px 0;
    padding-top: 10px;
    font-weight: 600;
}


#map {
    bottom:0px;
    height: 92%;
    position: absolute;
    right: 0px;
    top: 7.5%;
}


#nav {
    bottom:0px;
    height: 7%;
    position: absolute;
    right: 0px;
    top: 0;
    width: auto;
    background: #000000;
}

#nav,#map {
    left: inherit;
}

a {
    color: #CCC;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

.staions{
    padding-left: 10px;
}

input{
    width: 70%;
    height: 30px;
    max-width:250px ;
}

.filter{
    width: 60px;
    height: 35px;
    border: none;
    background: #ccc;
}


.icon{
    border: none;
    background: #000;
    height: 89%;
    width: 50px;
    padding: 0;
}

.fa-reorder{
    color: #fff;
}

.clear{clear: both}

#error{
    color: #fff;
    font-size: 24px;
}

#alert {
    position:fixed;
    top:4%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    background: #000;
    border: 1px;

}

